<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>Convertitore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    
    <ion-row>
      
      <ion-col></ion-col>
      
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Celsius</ion-label>
          <app-input-box type="text" id="cel" name="cel" value="{{fval}}" (keyup)="gradiC($event.target.value)"></app-input-box>
        </ion-item>
      </ion-col>
      
      <ion-col class="">
        <ion-item>
          <ion-label position="fixed">Fahrenheit</ion-label>
          <app-input-box type="text" id="fah" name="fah" value="{{cval}}" (keyup)="gradiF($event.target.value)"></app-input-box>
        </ion-item>
      </ion-col>

      <ion-col></ion-col>
    
    </ion-row>

    <ion-row>
      
      <ion-col></ion-col>
      
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Chilometri</ion-label>
          <app-input-box type="text" id="km" name="km" value="{{mval}}" (keyup)="disK($event.target.value)"></app-input-box>
        </ion-item>
      </ion-col>
      
      <ion-col class="">
        <ion-item>
          <ion-label position="fixed">Miglia</ion-label>
          <app-input-box type="text" id="mi" name="mi" value="{{kval}}" (keyup)="disM($event.target.value)"></app-input-box>
        </ion-item>
      </ion-col>

      <ion-col></ion-col>
    
    </ion-row>

  </ion-grid>
  
</ion-content>