<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>Convertitore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    
    <ion-row>
      
      <ion-col></ion-col>
      
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Celsius</ion-label>
          <app-input-box unita="C" [valore]="C" (eventoConversione)="notificaConversione($event)"></app-input-box>
        </ion-item>
      </ion-col>
      
      <ion-col class="">
        <ion-item>
          <ion-label position="fixed">Farhenait</ion-label>
          <app-input-box unita="F" [valore]="F" (eventoConversione)="notificaConversione($event)"></app-input-box>
        </ion-item>
      </ion-col>

      <ion-col></ion-col>
    
    </ion-row>

    <ion-row>
      
      <ion-col></ion-col>
      
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Chilometri</ion-label>
          <app-input-box unita="KM" [valore]="KM" (eventoConversione)="notificaConversione($event)"></app-input-box>
        </ion-item>
      </ion-col>
      
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Miglia</ion-label>
          <app-input-box unita="MI" [valore]="MI" (eventoConversione)="notificaConversione($event)"></app-input-box>
        </ion-item>
      </ion-col>

      <ion-col></ion-col>
    
    </ion-row>

  </ion-grid>
  
</ion-content>